<%- include("partials/header.ejs") %>

        <!-- sidebar -->
    <%- include("partials/sidebar.ejs") %>
        
        <!--tasks container -->
        <div class="todo-main">
            <!-- heading  -->
            <div class="heading-container">
                <h3>
                    Todays Main Focus
                </h3>
                <h1>
                    Meeting with Hamza
                </h1>
            </div>
            <!-- input for task creation -->
                <form action="/addTask" method="post" id="task-form" class="task-creation-wrapper">
                    <input type="text" name="task" id="task" required placeholder="What is your next task? ">
                    <div class="time-and-date">
                        <input type="time" name="dueTime" id="time-input" >
                        <input type="date" name="dueDate" id="date-input" required min="<%= new Date().toISOString().split("T")[0] %>">
                    </div>
                </form>
            <!-- list of todays tasks -->
             <div class="date-tasks">

                <% dueTasks.forEach(task => { %>
                    <div class="task-details">
                        <p class="task-title"><%= task.taskcontent %></p>
                        <form action="/Done" method="post">
                            <% if (task.tasktime != null) { %>                             
                                <p class="time"><%= task.tasktime %></p>
                            <% } %>
                            <input type="hidden" name="id" value="<%= task.id %>">
                            <button type="submit">
                                <i class="fa-regular fa-circle-check"></i>
                            </button>
                        </form>
                    </div>
                    <% }) %>

                </div>

             <!-- completed tasks -->
              <% if (locals.completedTasks != null) { %>
                <h1 class="completed-title">Completed</h1>
                 <div class="completed-tasks-wrapper">
   
                   <% completedTasks.forEach(task => { %>
                   <div class="task-details completed">
                       <p class="task-title"><%= task.taskcontent %></p>
                   </div>
                   <% }) %>
                 </div>
              <% } %>

        </div>
    </main>
</body>
<script>
    // script to show picker for time input
    document.getElementById('time-input').addEventListener('click', function() {
    this.showPicker();
});
    // script to show picker for date input
document.getElementById('date-input').addEventListener  ('click', function() {
    this.showPicker();
});
    // script to handle submission event for form
document.querySelector('.todo-main').addEventListener('keydown', function(event) {
    if (event.key === 'Enter' ) {
        document.getElementById('task-form').submit();
    }
})

</script>
</html>